<h1>Angular InstantSearch</h1>
<ais-instantsearch
  [config]="{
    apiKey: 'a0837b31f4379765240c2753fa141aa2',
    appId: '05VYZFXKNM',
    indexName: 'customers',
    routing: true
  }"
>

<ais-search-box></ais-search-box>
  <ais-hits>
    <ng-template let-hits="hits" let-results="results">
        <div *ngIf="hits.length === 0">
            No results found matching <strong>{{results.query}}</strong>.
        </div>
              
        <div *ngIf="results.query">
            <div *ngFor="let hit of hits" class="content">
                <img [src]="hit.avatar">
                <section>
                    <h3>{{hit.username}} {{hit.objectID}}</h3>
                    <ais-highlight attribute="bio" [hit]="hit"></ais-highlight>
                </section>
            </div>
        </div>
      </ng-template>
  </ais-hits>

</ais-instantsearch>